---
const isLoggedIn = false
---

<a href={isLoggedIn ? "/login" : "/logout"}>
  {isLoggedIn ? (
    <div class="text-center bg-green-700 px-4 py-1 rounded-md">
      <p class="flex items-center gap-2">
        Logged in as <strong>John Doe</strong>
      </p>
    </div>
  ) : (
    <div class="flex items-center gap-2 bg-green-700 px-4 py-1 rounded-md">
      {/* {<FaMicrosoft />} */}
      <span>Login with Microsoft</span>
    </div>
  )}
</a>
