---
import { getCollection } from "astro:content";
import BulletinCard from "./cards/BulletinCard.astro";

const bulletin = await getCollection("bulletin");
---

<div class="flex flex-col gap-2 w-full">
  <h3 class="text-lg">Announcements Bulletin</h3>
  <ul class="flex flex-col gap-4">
    {bulletin.map((annc: any) => <BulletinCard {annc} />)}
  </ul>
</div>
